.pixel-text-shadow {
  text-shadow: 2px 2px 0px #000000;
}

.pixel-box {
  box-shadow: 
    -4px 0 0 0 #000,
    4px 0 0 0 #000,
    0 -4px 0 0 #000,
    0 4px 0 0 #000;
  image-rendering: pixelated;
}

.pixel-btn {
  box-shadow: 
    inset -4px -4px 0px 0px rgba(0,0,0,0.5),
    2px 2px 0px 0px #000000;
}

.pixel-btn:active {
  transform: translate(2px, 2px);
  box-shadow: inset 4px 4px 0px 0px rgba(0,0,0,0.5);
}
